
#body{
    background-color: #88601b;
    color: #ffffff;
}
.map-page {
    background-color: #e9ecef;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

.map-header {
    background-color: #88601b;
    color: #070707;
    padding: 20px 0;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.leaflet-container {
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.tracking-info {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}