.loginPage {
    height: 100vh;
    background-image: url('https://img.freepik.com/free-photo/moving-home-with-cardboard-boxes_144627-20352.jpg?t=st=1712939393~exp=1712942993~hmac=91b63f2f65ce757891ad29d67437be5106695caa9f001abd042b44989e399bb6&w=1380');
    &__Card {
      background-color: white;
    }
  }