.bg-darkTeal{
    background-color: #003f5c;
}
.bg-purple{
    background-color: #58508d;
}

.bg-pink{
    background-color: #bc5090;
}

.bg-orange{
    background-color: #ff6361;
}

.bg-ocre{
    background-color: #ffa600;
}

.color-darkTeal{
    color: #003f5c;
}
.color-purple{
    color: #58508d;
}

.color-pink{
    color: #bc5090;
}

.color-orange{
    color: #ff6361;
}

.color-ocre{
    color: #ffa600;
}