/* HomePage.css */

.homepage {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease; /* Add transition for color change */
  }
  
  nav ul li a:hover {
    color: #ffd700; /* Change color on hover */
  }
  
  .buttons-container {
    display: flex;
    align-items: center;
  }
  
  .login-button,
  .signup-button {
    margin-left: 10px;
    padding: 8px 16px;
    border: none;
    background-color: #4caf50; /* Green */
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add transition for background color change */
  }
  
  .login-button:hover,
  .signup-button:hover {
    background-color: #45a049; /* Darker green on hover */
  }
  
  .main-container {
    display: flex;
  }
  
  main {
    flex: 2;
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  aside {
    flex: 1;
    padding: 20px;
    background-color: #ddd;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  